========================
Terraform
========================
.terraform/
*.tfstate
.tfstate.

========================
General
========================
*.log
*.tmp
*.bak
.DS_Store


========================
IDEs
========================

.vscode/
.idea/
*.sw?

========================
Secrets
========================
*.env
.aws/
